<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>To Do List</title>
  </head>
  <body>
    <!-- using scrplet for control flow , differend HTMl for a week day vs vweekend.  on a line by line basis dont use for logic just control flow   -->

    <% if (kindOfDay ==="Thursday"){ %>
    <h1 style="color: purple"><%= kindOfDay%> ToDo List</h1>
    <%} else{ %>
    <h1 style="color: blue"><%= kindOfDay %> ToDo List</h1>
    <%} %>
  </body>
</html>
